{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">

<!-- Кастомный раздел Database Manager -->
<div class="module">
    <table>
        <caption>
            <a href="{% url 'admin:database_manager' %}" class="section">Database Manager</a>
        </caption>
        <tbody>
            <tr class="model-group">
                <th scope="row">
                    <a href="{% url 'admin:database_manager' %}">Execute SQL queries and manage database</a>
                </th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Оригинальные разделы админки -->
{{ block.super }}

</div>
{% endblock %}